* {
    padding: 0;
    border: 0;
    margin: 0;
}

th {
    width: 250px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content header {
    margin: 20px 0;
    text-align: center;
}

form.search {
    display: flex;
    margin-bottom: 30px;
}

.btn-secondary {
    margin-left: 10px;
}

div.action {
    display: flex;
    font-size: 20px;
}

.bi-pencil-fill {
    color: #FFC447;
}

.bi-pencil-fill:hover {
    color: #d2a138;
}

div.action button.delete {
    margin-left: 10px;
    background: none;
    color: #FD6259
}

div.action button.delete:hover {
    color: #da4a43
}