{% extends "layout.njk" %}
{% block head %}
    <title>Produtos</title>
    <link rel="stylesheet" href="/product.css"/>
{% endblock %}

{% block content %}
    <div class="content">
        <h4>Cadastro de Produtos</h4>

        <form class="form-product" action="/products" method="post" onSubmit="registerProduct(event)">
            <div class="row">
                <p class="message-error">{{message}}</p>
                <div class="col-md-3">
                    <label class="form-label">Código do produto</label>
                    <input class="form-control" type="text" name="barcode" placeholder="Código do produto" value="{{barcode}}"/>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Nome do produto *</label>
                    <input class="form-control" type="text" name="name" placeholder="Nome do produto" value="{{name}}"/>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Preço de venda *</label>
                    <input class="form-control" type="text" name="salePrice" placeholder="Preço de venda" value="{{salePrice}}"/>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Quantidade *</label>
                    <input class="form-control" type="text" name="amount" placeholder="Quantidade" value="{{amount}}"/>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Data de Vencimento</label>
                    <input class="form-control" type="date" name="expirationDate" placeholder="Data de validade" value="{{expirationDate}}"/>
                </div>
                <div class="col-md-3">
                    <br/>
                    <button class="btn btn-primary bnt-product" type="submit">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}